# Ignore Bazel build directories
bazel-*
.bazelrc.user
*.runfiles/
*.runfiles_manifest
*.params
*.log
*.cache
*.pyc
*.pyo
*.pyd
list_ipv4
list_did
csv_logs


# Ignore Bazel output files
bazel-out
bazel-bin
bazel-testlogs
bazel-genfiles
bazel-workspaces
bazel-execroot
bazel-distdir
bazel-repo-cache
bazel-quiche

# Ignore local build artifacts
/build/
out/
target/
*.o
*.so
*.d
*.lo
*.la
*.cmd
*.gcno
*.gcda
*.gcov
*.dwo
*.su

# Ignore Bazel external dependencies
/external/

# Ignore editor & OS-specific files
.idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

# Ignore private info about configuration
config.sh
build_deploy.sh

# Ignore output files
*.csv
*.txt

scan_results/

MODULE.bazel.lock

tmp/